<div class="container">
  <div class="chat">
    <div class="chat-header">
      <div class="online-box">
        <div class="online-header"><strong>Online</strong></div>
        <ul class="list online-list">
          <li class="online-user" *ngFor="let user of users">
            <strong>{{ user }}</strong>
          </li>
        </ul>
      </div>
      <user-box [user]="currUser"></user-box>
    </div>
    <div class="chat-body">
      <div class="chat-content" #mbox>
        <message [message]="message" *ngFor="let message of messages"></message>
      </div>
      <div class="chat-controls">
        <form class="chat-form" [formGroup]="chatForm" (submit)="sendMessage()">
          <textarea type="text" formControlName="text" (keyup)="handleChange($event)"></textarea>
          <button class="btn" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
