.chat {
  max-width: 800px;
  min-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;

  &-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ececec;
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px 7px 0 0;
  }

  &-body {
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-image: url(https://web.telegram.org/k/assets/img/pattern.svg);
    background-color: #859ead;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 14px;
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #c2d7e3;
    }
  }

  &-form {
    position: relative;
    display: flex;
    max-height: 40px;

    & input {
      flex: 6;
      font-family: 'Poppins', sans-serif;
      padding-left: 10px;
      border: none;
      outline: none;
    }
  }
}

.online {
  &-box {
    width: 100%;
  }

  &-header {
    text-align: center;
    font-size: 16px;
  }

  &-list {
    margin-top: 10px;
  }

  &-user {
    display: inline-block;
    padding-right: 10px;
    color: #027b07;
  }
}

.btn {
  flex: 1;
  cursor: pointer;
  border-radius: 0 0 7px 0;
  border: none;
  outline: none;
  background-color: #3390ec;
  color: white;
  font-size: 16px;
}

textarea.ng-touched.ng-invalid {
  background-color: #f7e5e5;
}

@media (max-width: 900px) {
  .chat {
    width: 100%;
    padding: 0;
    min-width: auto;

    &-header {
      & img {
        width: 100%;
      }
    }
  }
}
