<div class="chat">

  <div class="chat-header">
    <div class="online-box">
      <div class="online-header"><strong>Online</strong></div>
      <ul class="list online-list">
        <li class="online-user" *ngFor="let user of users">
          <strong>{{ user }}</strong>
        </li>
      </ul>
    </div>
    <user-box [user]="currUser"></user-box>
  </div>

  <div class="chat-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <app-message [message]="message" *ngFor="let message of messages"></app-message>
  </div>

  <div class="chat-controls">
    <form class="chat-form" [formGroup]="chatForm" (submit)="sendMessage()">
      <app-attach-input formControlName="file"></app-attach-input>
      <input #inputElement placeholder="Сообщение" type="text" formControlName="text" (keyup)="handleChange()"/>
      <button class="btn" type="submit">Send</button>
      <app-spinner *ngIf="sendLoading"></app-spinner>
    </form>
    <app-attach-preview></app-attach-preview>
  </div>

</div>
