.message {
  display: flex;
  width: fit-content;
  max-width: 80%;
  height: auto;
  padding: 5px 10px;
  position: relative;
  border-radius: .50rem;
  margin: 10px;
  cursor: pointer;
  background-color: #d9e3d0;

  &:hover {
    background-color: #bdd1ad;
  }

  &-action {
    text-align: center;
    width: 100%;

    & span.connect {
      color: darkgreen;
    }

    & span.disconnect {
      color: darkred;
    }
  }

  &-time {
    font-size: 14px;
    padding-right: 5px;
    color: #6785a3;
  }

  &-name {
    color: #0e3489;
  }


  &-text {
    margin-top: 22px;
    margin-bottom: 0;
    padding-left: 5px;
    text-align: justify;
    color: green;
    word-break: break-all;

    & img {
      width: 50%;
      left: 50px;
      position: absolute;
      top: 30px;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-img {
    width: 100%;
    border-radius: .50rem;
    box-shadow: 0 0 2px #000000;
  }
}
