.message-wrapper {
  display: flex;
  margin: 10px;
  align-items: flex-start;
}

.message {
  display: flex;
  width: fit-content;
  max-width: 80%;
  height: auto;
  padding: 5px 10px;
  position: relative;
  border-radius: .50rem;
  margin-left: 10px;
  cursor: pointer;
  //background-color: #d9e3d0;
  background-color: white;

  &:hover {
    background-color: #e1f9d2;
  }

  &-action {
    text-align: center;
    width: 100%;

    & span.connect {
      color: darkgreen;
    }

    & span.disconnect {
      color: darkred;
    }
  }

  &-time {
    font-size: 14px;
    padding-right: 5px;
    color: #6785a3;
    margin-left: 10px;
  }

  &-name {
    color: #0e3489;
  }

  &-text {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: justify;
    color: black;
    word-break: break-all;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-img {
    width: 100%;
    border-radius: .50rem;
  }
}
