<ng-template #loading>
  <router-outlet></router-outlet>
</ng-template>

<ng-template [ngIf]="!login" [ngIfElse]="loading">
  <div class="chat">
      <div class="chat-header">
<!--        <img src="assets/images/logo.jpg" alt="">-->
        <span>Hello {{ nick }}</span>
      </div>
      <div class="chat-body">
        <div class="chat-content" #mbox>
          <div class="message" *ngFor="let message of messages">

            <i class="message-action" *ngIf="message.action; else msg">
              {{ message.nick }}
              <span [class]="message.action">{{ message.text }}</span>
            </i>

            <ng-template #msg>
              <div class="message-info">
                <span class="message-time"> {{ message.date | date:'h:mm' }}</span>
                <span class="message-name">{{ message.nick }}:</span>
              </div>
              <p class="message-text" [innerHTML]="message.text"></p>
            </ng-template>
          </div>
        </div>

        <div class="chat-controls">
          <form class="chat-form" [formGroup]="chatForm" (submit)="sendMessage()">
            <textarea type="text" formControlName="text" (keydown)="enterTextarea($event)"></textarea>
            <button class="btn" type="submit">Send</button>
          </form>
        </div>
      </div>
  </div>
</ng-template>
