<div class="register-box">

  <div class="register-box-container">
    <mat-tab-group (selectedTabChange)="resetForm($event)">
      <mat-tab label="Login">
          <div class="login-form form">
            <form [formGroup]="loginForm">

              <div class="form-label">
                <div class="form-label-control">
                  <input type="text" formControlName="login" placeholder="Username"/>
                  <div class="form-label-icon">
                    <img src="/assets/images/user-icon.png" alt="" width="20">
                  </div>
                </div>
                <div class="notification error" *ngIf="login.errors?.pattern">Только латинские буквы и цифры</div>
              </div>

              <div class="form-label">
                <div class="form-label-control">
                  <input type="password" formControlName="password" placeholder="Password"/>
                  <div class="form-label-icon">
                    <img src="/assets/images/password-icon.png" alt="" width="14">
                  </div>
                </div>
              </div>

              <div class="notification error" *ngIf="isWrongCred">Заполните все поля</div>
              <div *ngIf="serverRes" class="notification" [ngClass]="{'success': serverRes.ok, 'error': !serverRes.ok}">
                {{ serverRes.caption }}
              </div>
              <button class="btn btn-reg-box btn-login" type="submit" (click)="onSubmit(loginForm, $event)">Login</button>
            </form>
          </div>
      </mat-tab>
      <mat-tab label="Register">
          <div class="login-form form">
            <form [formGroup]="registerForm">

              <div class="form-label">
                <div class="form-label-control">
                  <input type="text" formControlName="login" placeholder="Enter your name"/>
                  <div class="form-label-icon">
                    <img src="/assets/images/user-icon.png" alt="" width="20">
                  </div>
                </div>
                <div class="notification error" *ngIf="regLogin.errors?.pattern">Только латинские буквы и цифры</div>
                <div class="notification error" *ngIf="regLogin.errors?.maxlength">Длина логина не более 10 символов</div>
              </div>

              <div class="form-label">
                <div class="form-label-control">
                  <input type="password" formControlName="password" placeholder="Password"/>
                  <div class="form-label-icon">
                    <img src="/assets/images/password-icon.png" alt="" width="14">
                  </div>
                </div>
                <div class="notification error" *ngIf="regPassword.errors?.minlength">Длина пароля не менее 6 символов</div>
              </div>

              <div class="form-label">
                <div class="form-label-control">
                  <input type="password" formControlName="confirmPassword" placeholder="Confirm password"/>
                  <div class="form-label-icon">
                    <img src="/assets/images/password-icon.png" alt="" width="14">
                  </div>
                </div>
                <div class="notification error" *ngIf="(registerForm.errors?.mismatch)">Пароли не совпадают</div>
              </div>

              <div *ngIf="isWrongCred" class="notification error">Некорректные данные</div>
              <div *ngIf="serverRes" class="notification" [ngClass]="{'success': serverRes.ok, 'error': !serverRes.ok}">
                {{ serverRes.caption}}
              </div>

              <button class="btn btn-reg-box btn-register" type="submit" [disabled]="registerForm.invalid" (click)="onSubmit(registerForm, $event)">
                Register
              </button>
            </form>
          </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>

