::-webkit-input-placeholder{
  font-family: SFProRegular;
  font-size: 16px;
}
::-moz-placeholder {
  font-family: SFProRegular;
  font-size: 16px;
}
:-moz-placeholder {
  font-family: SFProRegular;
  font-size: 16px;
}
:-ms-input-placeholder {
  font-family: SFProRegular;
  font-size: 16px;
}

::ng-deep.mat-tab-label {
  width: 50%;
}

::ng-deep.mat-tab-header {
  margin-bottom: 50px;
}


.register-box {
  background: url("/assets/images/register-bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 #757575;
    padding: 20px 40px 20px;
  }
}

.form {
  & input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    margin: 0 auto;
    padding-left: 12px;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 0 3px 3px 0;
    border: 1px solid #c7c7c7;
    background: #f2f2f2;
    font-family: SFProRegular;
    font-size: 17px;

    &.ng-touched.ng-invalid{
      background-color: #f7e5e5;
      border: 1px solid #ffa8a8;

      & + div {
        background-color: #ffa8a8;
        border: 1px solid #ffa8a8;
        border-right: none;
      }
    }

    &.ng-valid {
      background-color: #ecffe7;
      border: 1px solid #b2eaa3;

      & + div {
        background-color: #b2eaa3;
        border: 1px solid #b2eaa3;
      }
    }
  }

  &-label {
    position: relative;
    margin-bottom: 30px;

    &-control {
      display: flex;
      flex-direction: row-reverse;
    }

    &-icon {
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d8d8d8;
      border-radius: 3px 0 0 3px;
      border: 1px solid #c7c7c7;
      border-right: none;
    }
  }
}

.btn-reg-box {
  height: 50px;

  &[disabled] {
    background-color: #bfbfbf;
    border: 1px solid #a7a7a7;
    color: #4a4949;
  }
}

.btn-login {
  background-color: #2d8e31;
  border: 1px solid #025d02;
}

.btn-register {
  background-color: #bd4040;
  border: 1px solid #6d0404;
}

@media (max-width: 576px) {
  .register-box-container {
    width: 100%;
    padding: 20px;
  }
}
