/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'SFProThin';
  src: local('src/assets/fonts/SF Pro Display Thin'), local('SFProDisplay-Thin'),
  url('assets/fonts/Thin/SFProDisplay-Thin.woff2') format('woff2'),
  url('assets/fonts/Thin/SFProDisplay-Thin.woff') format('woff'),
  url('assets/fonts/Thin/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFProRegular';
  src: local('src/assets/fonts/SF Pro Display Regular'), local('SFProDisplay-Regular'),
  url('assets/fonts/Regular/SFProDisplay-Regular.woff2') format('woff2'),
  url('assets/fonts/Regular/SFProDisplay-Regular.woff') format('woff'),
  url('assets/fonts/Regular/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
