/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: SFProRegular }

@font-face {
  font-family: 'SFProThin';
  src: local('/assets/fonts/SF Pro Display Thin'), local('SFProDisplay-Thin'),
  url('/assets/fonts/Thin/SFProDisplay-Thin.woff2') format('woff2'),
  url('/assets/fonts/Thin/SFProDisplay-Thin.woff') format('woff'),
  url('/assets/fonts/Thin/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFProRegular';
  src: local('/assets/fonts/SF Pro Display Regular'), local('SFProDisplay-Regular'),
  url('/assets/fonts/Regular/SFProDisplay-Regular.woff2') format('woff2'),
  url('/assets/fonts/Regular/SFProDisplay-Regular.woff') format('woff'),
  url('/assets/fonts/Regular/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.btn {
  width: 100%;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  font-family: SFProRegular;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.show {
  display: block !important;
}

.form-btn {
  height: 40px;
}

.notification {
  padding: 10px 10px 10px 50px;
  margin-bottom: 10px;
  font-size: 16px;
  position: relative;

  &:before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
  }
}

.error {
  background-color: #fbd3d2;
  &:before {
    background-image: url(/assets/images/message-error.png);
    width: 24px;
    height: 19px;
    left: 11px;
    top: 10px;
  }
}

.success {
  background-color: #d2fbd3;
  &:before {
    background-image: url(/assets/images/message-success.png);
    width: 20px;
    height: 20px;
    left: 14px;
    top: 9px;
  }
}
