input[type="file"] {
  display: none;
}

.preview {
  max-width: 100px;
  position: relative;
  margin-top: 10px;

  &-img {
    width: 100%
  }

  &-close {
    cursor: pointer;
    position: absolute;
    width: 25%;
    top: -10px;
    right: -10px;
  }
}
